!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Intellitarget/J IDEA ###
.idea/**
.idea/*.*
.idea/
### VS Code ###
.vscode/
*.iml
*.log

### Mac OS ###
.DS_Store
/target/**